<!--The content below is only a placeholder and can be replaced.-->
<div el-row type="flex" justify="center" gutter="20">
  <div el-col span="4">
    <el-date-picker [(model)]="startDate"
                    [clearable]="true"
                    (clear-click)="clearStartDate()"
                    placeholder="Please input start date">
    </el-date-picker>
  </div>
  <div el-col span="4">
    <el-date-picker [(model)]="endDate"
                    [clearable]="true"
                    (clear-click)="clearEndDate()"
                    placeholder="Please input end date">
    </el-date-picker>
  </div>
  <div el-col span="4">
    <el-button type="primary" (click)="onFilter()">Filter</el-button>
  </div>
</div>

<div el-row type="flex" justify="center">
  <div el-col span="12">
    <el-table [model]="tableData" [scroll-x]="true" center="all" [stripe]="true">
      <el-table-column model-key="name" label="姓名" width="140"></el-table-column>
      <el-table-column model-key="date" label="日期" width="140"></el-table-column>
      <el-table-column model-key="address" label="地址" width="340"></el-table-column>
    </el-table>
  </div>
</div>
<router-outlet></router-outlet>
